@import "tailwindcss";
@plugin "@tailwindcss/typography";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #09AD05;
  --color-bluePrimary:#0849AA;
  --color-shadePrimary:#026600;
  --color-shadeBluePrimary:#04275C;
  --color-mateBlack:#222222;
  --color-mateWhite:#F3F3F3;
 
}